#bodyX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "SF Pro Display", sans-serif;
  max-width: 1200px;
  margin: auto;
}

.header {
  color: #000;
  justify-content: center;
  border: 2px solid #f2f2f2;
  margin: 8px !important;
  border-radius: 12px;
}

.aside-container {
  border-bottom-right-radius: none;
  border-top-right-radius: none;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

main {
  margin: 8px !important;
}

section {
  border-bottom-left-radius: none;
  border-top-left-radius: none;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

footer {
  border-radius: 12px;
}

.header-container,
.header-navigation {
  padding: 0px 10px 10px 10px;
}

.header-container {
  justify-content: flex-start;
  padding-top: 70px;
}

.header-navigation ul {
  display: flex;
  font-size: larger;
  align-items: flex-end;
  justify-content: left;
  padding-top: 25px;
  width: auto;
  color: black;
}

.header-navigation ul li {
  list-style: none;
}

#header-picture {
  width: 180px;
  height: auto;
  border-radius: 50%;
}

.image-thumbnail {
  padding: 0.35rem;
  max-width: 100%;
}

.header-navigation a {
  text-decoration: none;
  width: auto;
  color: black;
  padding: 0px 30px 0px 0px;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1,
.section-2 {
  width: 20%;
  padding: 20px;
}

.aside-container {
  width: 20%;
  padding: 20px;
}

h2.contacts-list {
  padding: 20px;
  margin: auto;
}

h2#skills {
  padding: 20px;
  margin: auto;
}

ul.contacts {
  list-style: none;
}

ul.contacts li {
  padding: 5px 10px 5px 5px;
}

ul.skills {
  padding-left: 60px;
}

ul.skills li {
  padding: 5px 10px 5px 5px;
}

.right-container {
  width: 75%;
  padding: 20px;
  color: #000;
  background-color: #f2f2f2;
}

.aside-container {
  background-color: #fff;
  color: #000;
  border: 2px solid #f2f2f2;
}

.aside-container,
.right-container {
  padding: 20px;
}

.footer-container {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1200px;
  background-color: brown;
  justify-content: space-around;
  background-color: #fff;
  margin: 8px !important;
  border: 2px solid #f2f2f2;
}

.footer-logo-github {
  padding: 10px;
  width: 75px;
  height: auto;
}

.footer-logo-rs {
  padding: 10px;
  width: 100px;
  height: auto;
}

time#footer-date {
  /* padding-left: 25%; */
  font-size: small;
}

footer p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

section {
  padding: 20px;
}
